# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Version builds (Stonecutter)
versions/*/build/
versions/*/bin/

# Temp files
*.zip
void_crystal1.21.9-10.json
resurrection_totem.png
void_crystal.png
SimpleDeathBansIcon256.png

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# Runtime
run/
logs/

# OS
.DS_Store
Thumbs.db

# Fabric
remappedSrc/
